<app-header></app-header>

<h1 class="listTittle">
  {{ isSearching() ? 'Resultados de búsqueda' : 'Populares' }}
</h1>

@if (isSearching()) {
  <div class="movie-grid">
    @for (movie of searchMovies(); track movie.id) {
      <app-movie-item 
        [movie]="movie" 
        (addToMyMovies)="fromChild($event)">
      </app-movie-item>
    }
  </div>

  <div class="pagination-container">
    <button class="btn-load-more" (click)="handleLoadMore()">Ver más</button>
  </div>

} @else {
  <div class="slider-wrapper">
    @if (!isAtStart()) {
      <button class="nav-btn left" (click)="scroll('left', container1)"><span>‹</span></button>
    }

    <div class="scroll-viewport" #container1 (scroll)="updateArrows(container1)">
      <div class="movie-gallery">
        @for (movie of popularMovies(); track movie.id) {
          <app-movie-item class="snap-item" [movie]="movie"></app-movie-item>
        }
        <div class="scroll-spacer"></div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scroll('right', container1)"><span>›</span></button>
  </div>


    <h1 class="listTittle">Mejor valoradas</h1>
  <div class="slider-wrapper">  
    @if (!isAtStart()) {
      <button class="nav-btn left" (click)="scroll('left', container2)"><span>‹</span></button>
    }

    <div class="scroll-viewport" #container2 (scroll)="updateArrows(container2)">
      <div class="movie-gallery">
        @for (movie of topRatedMovies(); track movie.id) {
          <app-movie-item class="snap-item" [movie]="movie"></app-movie-item>
        }
        <div class="scroll-spacer"></div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scroll('right', container2)"><span>›</span></button>
  </div>

  <h1 class="listTittle">Acción</h1>
  <div class="slider-wrapper">  
    @if (!isAtStart()) {
      <button class="nav-btn left" (click)="scroll('left', container3)"><span>‹</span></button>
    }

    <div class="scroll-viewport" #container3 (scroll)="updateArrows(container3)">
      <div class="movie-gallery">
        @for (movie of actionMovies(); track movie.id) {
          <app-movie-item class="snap-item" [movie]="movie"></app-movie-item>
        }
        <div class="scroll-spacer"></div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scroll('right', container3)"><span>›</span></button>
  </div>

  <h1 class="listTittle">Drama</h1>
  <div class="slider-wrapper">  
    @if (!isAtStart()) {
      <button class="nav-btn left" (click)="scroll('left', container4)"><span>‹</span></button>
    }

    <div class="scroll-viewport" #container4 (scroll)="updateArrows(container4)">
      <div class="movie-gallery">
        @for (movie of dramaMovies(); track movie.id) {
          <app-movie-item class="snap-item" [movie]="movie"></app-movie-item>
        }
        <div class="scroll-spacer"></div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scroll('right', container4)"><span>›</span></button>
  </div>

  <h1 class="listTittle">Comedia</h1>
  <div class="slider-wrapper">  
    @if (!isAtStart()) {
      <button class="nav-btn left" (click)="scroll('left', container5)"><span>‹</span></button>
    }

    <div class="scroll-viewport" #container5 (scroll)="updateArrows(container5)">
      <div class="movie-gallery">
        @for (movie of comedyMovies(); track movie.id) {
          <app-movie-item class="snap-item" [movie]="movie"></app-movie-item>
        }
        <div class="scroll-spacer"></div>
      </div>
    </div>

    <button class="nav-btn right" (click)="scroll('right', container5)"><span>›</span></button>
  </div>
  
}